Repository stencila/stencila: changes, and which Codecov flags are due for each by the changed paths.
All: overall, format-html, format-jats, format-json, format-json5, format-markdown, format-text, format-yaml, sdk-node, sdk-python

build(Release): Reinstate `--sdist` for Python SDK
  .github/workflows/release.yml
  python/Makefile
Due: overall, sdk-python

ci(Install): Use a more comprehensive check of install success
  .github/workflows/install.yml
Due: overall

docs(Python): Add note about possible need for Pip upgrade
  README.md
  python/README.md
Due: overall, sdk-python

fix(Python): Provide `StrEnum` for Python less than 3.11
  python/poetry.lock
  python/pyproject.toml
  python/python/stencila/types/prelude.py
Due: overall, sdk-python

docs(Python): Add note regarding testing across Python versions
  python/README.md
Due: overall, sdk-python

chore(Schema): Refactoring and formatting
  rust/schema/src/deserialize.rs
  rust/schema/src/implem/block.rs
  rust/schema/src/implem/inline.rs
  rust/schema/src/transforms.rs
Due: overall

chore(*): Version 2.0.0-alpha.20
  Cargo.lock
  node/Cargo.toml
  node/package.json
  package-lock.json
  python/Cargo.toml
  python/pyproject.toml
  rust/cli/Cargo.toml
  typescript/package.json
Due: overall, sdk-node, sdk-python

chore(Python): Fix `pyproject.toml` so that `maturin` builds wheels with dependencies info
  .github/workflows/release.yml
  python/Makefile
  python/pyproject.toml
Due: overall, sdk-python

chore(NPM): Upgrade `wrangler`
  package-lock.json
  package.json
Due: overall

fix(Rust): Upgrade dependencies
  Cargo.lock
  rust/common/Cargo.toml
Due: overall

chore(*): Version 2.0.0-alpha.21
  Cargo.lock
  node/Cargo.toml
  node/package.json
  package-lock.json
  python/Cargo.toml
  python/pyproject.toml
  rust/cli/Cargo.toml
  typescript/package.json
Due: overall, sdk-node, sdk-python

docs(README): Add links to schema
  README.md
Due: overall

Make python block runnable
  python/README.md
Due: overall, sdk-python

Minor change to make code block in python Readme runnable
  python/README.md
Due: overall, sdk-python

ci(Release): Sleep for a while before triggering install workflow
  .github/workflows/release.yml
Due: overall

docs(README): Minor fixes
  README.md
Due: overall

chore(Markdown): Update node type support
  rust/codec-markdown/src/lib.rs
Due: overall, format-markdown

fix(Markdown): Do not trim code
  rust/codec-markdown/src/decode/content.rs
Due: overall

docs(Schema): Regenerate for updated Markdown support
  docs/reference/formats/markdown.md
  docs/reference/schema/code/code-block.md
  docs/reference/schema/code/code-chunk.md
  docs/reference/schema/code/code-expression.md
  docs/reference/schema/code/code-fragment.md
  docs/reference/schema/data/boolean.md
  docs/reference/schema/data/integer.md
  docs/reference/schema/data/null.md
  docs/reference/schema/data/number.md
  docs/reference/schema/data/unsigned-integer.md
  docs/reference/schema/flow/parameter.md
  docs/reference/schema/math/math-block.md
  docs/reference/schema/math/math-fragment.md
  docs/reference/schema/prose/emphasis.md
  docs/reference/schema/prose/heading.md
  docs/reference/schema/prose/link.md
  docs/reference/schema/prose/list-item.md
  docs/reference/schema/prose/list.md
  docs/reference/schema/prose/paragraph.md
  docs/reference/schema/prose/section.md
  docs/reference/schema/prose/strong.md
  docs/reference/schema/prose/subscript.md
  docs/reference/schema/prose/superscript.md
  docs/reference/schema/prose/text.md
  docs/reference/schema/prose/thematic-break.md
  docs/reference/schema/prose/underline.md
  docs/reference/schema/style/division.md
  docs/reference/schema/works/article.md
  docs/reference/schema/works/audio-object.md
  docs/reference/schema/works/image-object.md
  docs/reference/schema/works/media-object.md
  docs/reference/schema/works/table-cell.md
  docs/reference/schema/works/table-row.md
  docs/reference/schema/works/table.md
Due: overall

fix(Markdown): Use asterisks for thematic breaks
  examples/thematic-break/config.yaml
  examples/thematic-break/thematic-break.compact.html
  examples/thematic-break/thematic-break.compact.jats.xml
  examples/thematic-break/thematic-break.compact.json5
  examples/thematic-break/thematic-break.html
  examples/thematic-break/thematic-break.jats.xml
  examples/thematic-break/thematic-break.json
  examples/thematic-break/thematic-break.json5
  examples/thematic-break/thematic-break.md
  examples/thematic-break/thematic-break.standalone.html
  examples/thematic-break/thematic-break.txt
  examples/thematic-break/thematic-break.txt.encode.losses
  examples/thematic-break/thematic-break.yaml
  json/ThematicBreak.schema.json
  rust/schema/src/types/thematic_break.rs
  schema/ThematicBreak.yaml
Due: overall

test(Proptest): Remove filter for first block `ThematicBreak`
  rust/schema/src/proptests.rs
Due: overall

fix(Markdown): Encode `CallArgument` code as is
  examples/call/call.compact.html
  examples/call/call.compact.json5
  examples/call/call.html
  examples/call/call.json
  examples/call/call.json5
  examples/call/call.md
  examples/call/call.standalone.html
  examples/call/call.yaml
  examples/call/config.yaml
  rust/schema/src/implem/call.rs
Due: overall

fix(Markdown): Implement roundtrip for `Claim`
  docs/reference/formats/markdown.md
  docs/reference/schema/works/claim.md
  examples/claim/claim.md
  examples/claim/claim.md.encode.losses
  examples/claim/config.yaml
  json/Claim.schema.json
  rust/codec-losses/src/lib.rs
  rust/codec-markdown/src/decode/blocks.rs
  rust/codec-markdown/src/decode/content.rs
  rust/schema/src/implem/claim.rs
  rust/schema/src/implem/mod.rs
  rust/schema/src/types/claim.rs
  schema/Claim.yaml
Due: overall

fix(Markdown): Fix encoding and decoding of `Section`
  examples/section/config.yaml
  examples/section/section.md
  json/Section.schema.json
  rust/schema/src/implem/section.rs
  rust/schema/src/types/section.rs
  schema/Section.yaml
Due: overall

fix(Markdown): Fix decoding of `Division` blocks
  examples/division/config.yaml
  rust/codec-markdown/src/decode/blocks.rs
Due: overall

fix(Markdown): Do not encode language of `For` is empty string
  examples/for/config.yaml
  examples/for/for.compact.html
  examples/for/for.compact.json5
  examples/for/for.html
  examples/for/for.json
  examples/for/for.json5
  examples/for/for.md
  examples/for/for.standalone.html
  examples/for/for.yaml
  rust/schema/src/implem/for.rs
Due: overall

fix(Markdown): Record losses of executable options
  examples/if/config.yaml
  examples/if/if.compact.html
  examples/if/if.compact.json5
  examples/if/if.html
  examples/if/if.json
  examples/if/if.json5
  examples/if/if.standalone.html
  examples/if/if.yaml
  rust/schema/src/implem/if.rs
Due: overall

test(Codecs): Update specs snapshots
  rust/codecs/tests/snapshots/specs__specs.snap
Due: overall

chore(Rust): Formatting
  rust/cli/src/cli.rs
  rust/codec-losses/src/lib.rs
  rust/codec-markdown/src/decode/blocks.rs
  rust/codec/src/lib.rs
  rust/codecs/tests/examples.rs
Due: overall

fix(CLI): Avoid duplicated arguments for `sync` and `convert`
  docs/reference/cli.md
  rust/cli/src/cli.rs
Due: overall

fix(Markdown): Use HTML for `Delete`
  docs/reference/formats/markdown.md
  docs/reference/schema/prose/underline.md
  examples/delete/delete.md
  examples/list/list.md
  examples/marks/marks.compact.html
  examples/marks/marks.compact.jats.xml
  examples/marks/marks.compact.json5
  examples/marks/marks.html
  examples/marks/marks.jats.xml
  examples/marks/marks.json
  examples/marks/marks.json5
  examples/marks/marks.md
  json/Underline.schema.json
  rust/codec-markdown/src/decode/content.rs
  rust/schema/src/types/underline.rs
  schema/Underline.yaml
Due: overall

fix(Markdown): Allow for both `Strikeout` and `Subscript`
  examples/marks/config.yaml
  examples/marks/marks.compact.html
  examples/marks/marks.compact.jats.xml
  examples/marks/marks.compact.json5
  examples/marks/marks.html
  examples/marks/marks.jats.xml
  examples/marks/marks.json
  examples/marks/marks.json5
  examples/marks/marks.md
  examples/marks/marks.standalone.html
  examples/marks/marks.txt
  examples/marks/marks.txt.encode.losses
  examples/marks/marks.yaml
  rust/codec-markdown/src/decode/inlines.rs
Due: overall

text(Examples): Remove paragraph with special chars
  examples/code-fragment/code-fragment.compact.html
  examples/code-fragment/code-fragment.compact.jats.xml
  examples/code-fragment/code-fragment.compact.json5
  examples/code-fragment/code-fragment.html
  examples/code-fragment/code-fragment.jats.xml
  examples/code-fragment/code-fragment.json
  examples/code-fragment/code-fragment.json5
  examples/code-fragment/code-fragment.md
  examples/code-fragment/code-fragment.standalone.html
  examples/code-fragment/code-fragment.txt
  examples/code-fragment/code-fragment.txt.encode.losses
  examples/code-fragment/code-fragment.yaml
  examples/code-fragment/config.yaml
Due: overall

fix(Markdown): Consistency between `CodeBlock` and `MathBlock` in trimming
  examples/code-block/code-block.compact.html
  examples/code-block/code-block.compact.jats.xml
  examples/code-block/code-block.compact.json5
  examples/code-block/code-block.jats.xml
  examples/code-block/code-block.json
  examples/code-block/code-block.json5
  examples/code-block/code-block.standalone.html
  examples/code-block/code-block.txt
  examples/code-block/code-block.yaml
  examples/math-block/config.yaml
  rust/codec-markdown/src/decode/content.rs
Due: overall

fix(Markdown): Decoding of `<q>`
  examples/quote/config.yaml
  rust/codec-markdown/src/decode/content.rs
Due: overall

chore(NPM): Update dev dependencies
  node/package.json
  package-lock.json
  typescript/package.json
Due: overall, sdk-node

Path conditions:
  overall: any of: *, **/*
  format-html: any of: rust/codec-html*/src/*
  format-jats: any of: rust/codec-jats*/src/*
  format-json: any of: rust/codec-json/src/*
  format-json5: any of: rust/codec-json5*/src/*
  format-markdown: any of: rust/codec-markdown*/src/*
  format-text: any of: rust/codec-text*/src/*
  format-yaml: any of: rust/codec-yaml/src/*
  sdk-node: any of: node/*, node/**/*
  sdk-python: any of: python/*, python/**/*
