Repository stencila/stencila: changes, and which Codecov flags are due for each by the changed paths.
All: overall, format-html, format-jats, format-json, format-json5, format-markdown, format-text, format-yaml, sdk-node, sdk-python

test(Node store): Add proptests
  README.md
  rust/Makefile
  rust/node-store/tests/proptests.rs
Due: overall

feat(Inline content): Allow for `UnsignedInteger` inline nodes
  docs/reference/schema/prose/inline.md
  json/Inline.schema.json
  python/python/stencila/types/inline.py
  rust/schema/src/implem/inline.rs
  rust/schema/src/types/inline.rs
  schema/Inline.yaml
  typescript/src/types/Inline.ts
Due: overall, sdk-python

fix(Inline content): Remove `load_str` method since not strictly permitted
  rust/schema/src/implem/inline.rs
Due: overall

chore(NPM): Upgrade `wrangler`
  package-lock.json
  package.json
Due: overall

chore(TypeScript): Upgrade `@types/jest`
  package-lock.json
  typescript/package.json
Due: overall

chore(Node store): Formatting
  rust/node-store/src/lib.rs
Due: overall

fix(Rust): Upgrade `tracing`
  Cargo.lock
  rust/common/Cargo.toml
Due: overall

test(Codecs): Rename snapshot file
  rust/codecs/tests/snapshots/specs__specs.snap
Due: overall

test(Python SDK): Fix tests for string not allowed in inline content
  python/python/tests/test_convert.py
Due: overall, sdk-python

test(Node SDK): Fix tests for string not allowed in inline content
  node/src/__snapshots__/convert.test.mjs.snap
  node/src/convert.test.mjs
Due: overall, sdk-node

docs(Python SDK): Fix `from_string` example
  python/README.md
Due: overall, sdk-python

chore(README): Add `cacheSeconds` to coverage badges
  README.md
Due: overall

test(Inline nodes): Do not include `UnsignedInteger` in proptests
  docs/reference/schema/prose/inline.md
  json/Inline.schema.json
  rust/schema/src/types/inline.rs
  schema/Inline.yaml
Due: overall

ci(Accessibility): Fix `Makefile`
  rust/Makefile
Due: overall

ci(Test): Reinstate package publishing checks
  .github/workflows/test.yml
  Makefile
  node/Makefile
  node/package.json
  typescript/Makefile
  typescript/package.json
Due: overall, sdk-node

chore(NPM): Upgrade `publint`
  node/package.json
  package-lock.json
  typescript/package.json
Due: overall, sdk-node

chore(NPM): Upgrade `eslint`
  node/package.json
  package-lock.json
  typescript/package.json
Due: overall, sdk-node

fix(Node SDK): Package as ESM and CJS package
  node/.gitignore
  node/Makefile
  node/bindings.cjs
  node/package.json
  node/src/__snapshots__/convert.test.ts.snap
  node/src/bindings.d.ts
  node/src/bindings.ts
  node/src/convert.test.ts
  node/src/convert.ts
  node/src/index.ts
  node/src/lib.mts
  node/test.ts
  package-lock.json
Due: overall, sdk-node

chore(TypeScript): Various minor fixes
  typescript/Makefile
  typescript/README.md
  typescript/package.json
Due: overall

ci(Install): Add usage check for `@stencila/node`
  .github/workflows/install.yml
Due: overall

chore(Rust): Linting
  rust/node-store/src/vec.rs
  rust/node-strip-derive/src/lib.rs
  rust/schema-gen/src/rust.rs
Due: overall

chore(*): Version 2.0.0-alpha.17
  Cargo.lock
  node/Cargo.toml
  node/package.json
  package-lock.json
  python/Cargo.toml
  python/pyproject.toml
  rust/cli/Cargo.toml
  typescript/package.json
Due: overall, sdk-node, sdk-python

test(JSON): Move all tests to one place
  Cargo.lock
  rust/codec-jats/src/lib.rs
  rust/codec-json/Cargo.toml
  rust/codec-json/src/lib.rs
  rust/codec-json/tests/decode.rs
  rust/codec-json/tests/roundtrip.rs
  rust/schema/Cargo.toml
  rust/schema/tests/serde.rs
Due: overall, format-jats, format-json

chore(NPM): Fix `unused` script
  node/package.json
  typescript/package.json
Due: overall, sdk-node

feat(Markdown): Initial stubs for decoding
  Cargo.lock
  rust/codec-markdown/Cargo.toml
  rust/codec-markdown/src/decode/content.rs
  rust/codec-markdown/src/decode/frontmatter.rs
  rust/codec-markdown/src/decode/mod.rs
  rust/codec-markdown/src/lib.rs
Due: overall, format-markdown

refactor(Schema): Make `TableRow.rowType` a core property
  json/TableRow.schema.json
  rust/schema/src/types/table_row.rs
  schema/TableRow.yaml
Due: overall

feat(Format): Add image, audio & video formats
  rust/format/src/lib.rs
Due: overall

refactor(Schema): Improve consistency of `caption` and `title` props in inlines
  json/AudioObject.jsonld
  json/AudioObject.schema.json
  json/ImageObject.jsonld
  json/ImageObject.schema.json
  json/Link.schema.json
  json/VideoObject.jsonld
  json/VideoObject.schema.json
  python/python/stencila/types/audio_object.py
  python/python/stencila/types/image_object.py
  python/python/stencila/types/video_object.py
  rust/schema/src/types/audio_object.rs
  rust/schema/src/types/image_object.rs
  rust/schema/src/types/link.rs
  rust/schema/src/types/video_object.rs
  schema/AudioObject.yaml
  schema/ImageObject.yaml
  schema/Link.yaml
  schema/VideoObject.yaml
  typescript/src/types/AudioObject.ts
  typescript/src/types/ImageObject.ts
  typescript/src/types/VideoObject.ts
Due: overall, sdk-python

feat(Schema): Add more shortcut functions and rename others
  rust/codec-jats/src/decode/body.rs
  rust/schema/src/shortcuts.rs
Due: overall

chore(Rust): Formatting
  rust/codec-jats/src/decode/body.rs
  rust/schema-gen/src/schema.rs
  rust/schema/src/prelude.rs
  rust/schema/src/shortcuts.rs
Due: overall

fix(Markdown): Fix enumeration of losses for `CodeExpression`
  examples/code-expression/code-expression.compact.html
  examples/code-expression/code-expression.compact.json5
  examples/code-expression/code-expression.jats.xml.encode.losses
  examples/code-expression/code-expression.json5
  examples/code-expression/code-expression.standalone.html
  examples/code-expression/code-expression.txt
  examples/code-expression/code-expression.yaml
  rust/schema/src/implem/code_expression.rs
Due: overall

fix(Markdown): Encode `Link.title` property
  examples/link/link.md
  examples/link/link.md.encode.losses
  json/Link.schema.json
  rust/schema/src/implem/link.rs
  rust/schema/src/implem/mod.rs
  rust/schema/src/types/link.rs
  schema/Link.yaml
Due: overall

Path conditions:
  overall: any of: *, **/*
  format-html: any of: rust/codec-html*/src/*
  format-jats: any of: rust/codec-jats*/src/*
  format-json: any of: rust/codec-json/src/*
  format-json5: any of: rust/codec-json5*/src/*
  format-markdown: any of: rust/codec-markdown*/src/*
  format-text: any of: rust/codec-text*/src/*
  format-yaml: any of: rust/codec-yaml/src/*
  sdk-node: any of: node/*, node/**/*
  sdk-python: any of: python/*, python/**/*
