Repository stencila/stencila: changes, and which Codecov flags are due for each by the changed paths.
All: debug, html, jats, json, json5, markdown, text, yaml, node-sdk, python-sdk

codecov.yml:

flags:
  # Formats

  debug:
    paths:
      - rust/codec-debug/src/*.rs
  html:
    paths:
      - rust/codec-html*/src/*.rs
  jats:
    paths:
      - rust/codec-jats*/src/*.rs
  json:
    paths:
      - rust/codec-json/src/*.rs
  json5:
    paths:
      - rust/codec-json5*/src/*.rs
  markdown:
    paths:
      - rust/codec-markdown*/src/*.rs
  text:
    paths:
      - rust/codec-text*/src/*.rs
  yaml:
    paths:
      - rust/codec-yaml/src/*.rs

  # SDKs

  node-sdk:
    paths:
      - node/**/*
  python-sdk:
    paths:
      - python/python/stencila/*.py

chore(Python): Formatting
  python/python/stencila/utilities.py
Due: python-sdk

chore(JATS): Linting
  rust/codec-jats/src/decode/body.rs
Due: none

test(Coverage): Fix for Python and Node.js
  python/.gitignore
  python/Makefile
  rust/Makefile
Due: none

test(Python): Exclude test files
  python/pyproject.toml
Due: none

ci(Test): Skip correct level
  rust/Makefile
Due: none

test(Coverage): Set flags in uploads
  .github/workflows/test.yml
  codecov.yml
Due: none

test(Coverage): Add an overall flag so all files are counted
  .github/workflows/test.yml
  codecov.yml
Due: none

ci(Coverage): Do not set flags on upload
  .github/workflows/test.yml
Due: none

test(Codecs): Add snapshot test of codec specs
  .vscode/settings.json
  Cargo.lock
  rust/Makefile
  rust/codec/src/lib.rs
  rust/codecs/src/tests/mod.rs
  rust/codecs/src/tests/snapshots/codecs__tests__specs__specs.snap
  rust/codecs/src/tests/specs.rs
  rust/common-dev/Cargo.toml
  rust/common-dev/src/lib.rs
Due: none

chore(Codecs): Formatting
  rust/codec/src/lib.rs
Due: none

fix(Codecs): Fix bug in `supports_to_formats`
  rust/codec-debug/src/lib.rs
  rust/codec-jats/src/lib.rs
  rust/codec/src/lib.rs
  rust/codecs/src/tests/snapshots/codecs__tests__specs__specs.snap
Due: debug, jats

test(Coverage): Switch from Codecov flags to components
  codecov.yml
Due: none

chore(*): Update generated files
  docs/reference/formats/jats.md
  docs/reference/schema/code/code-expression.md
  docs/reference/schema/code/code-fragment.md
  docs/reference/schema/data/cord.md
  docs/reference/schema/data/date-time.md
  docs/reference/schema/data/date.md
  docs/reference/schema/data/duration.md
  docs/reference/schema/data/string.md
  docs/reference/schema/data/time.md
  docs/reference/schema/data/timestamp.md
  docs/reference/schema/math/math-block.md
  docs/reference/schema/math/math-fragment.md
  docs/reference/schema/prose/link.md
  docs/reference/schema/prose/note.md
  docs/reference/schema/prose/quote.md
  docs/reference/schema/style/span.md
Due: none

test(Examples): Add `null` to primitives example
  examples/primitives/primitives.compact.html
  examples/primitives/primitives.compact.json5
  examples/primitives/primitives.html
  examples/primitives/primitives.json
  examples/primitives/primitives.json5
  examples/primitives/primitives.md
  examples/primitives/primitives.md.encode.losses
  examples/primitives/primitives.standalone.html
  examples/primitives/primitives.txt
  examples/primitives/primitives.txt.encode.losses
  examples/primitives/primitives.yaml
Due: none

docs(README): Add test coverage badges
  README.md
Due: none

chore(Shields worker): Add worker to generate badges
  .gitignore
  .vscode/settings.json
  .workers/.gitignore
  .workers/shields/shields.ts
  .workers/shields/wrangler.toml
  package-lock.json
  package.json
Due: none

chore(Makefile): Only run roundtrip proptest
  rust/Makefile
Due: none

perf(JSON): Early return if not standalone
  rust/codec-json/src/lib.rs
Due: json

chore(YAML): Reformatting for consistency
  rust/codec-yaml/src/lib.rs
Due: yaml

test(JSON): Add test for `compact` option
  rust/codec-json/src/tests.rs
Due: json

docs(README): Add links to docs on each format
  README.md
Due: none

chore(YAML): Remove unused import
  rust/codec-yaml/src/lib.rs
Due: yaml

chore(Rust): Use `cargo llvm-cov test` subcommand for test filtering
  rust/Makefile
Due: none

docs(README): Provide links to coverage
  README.md
Due: none

refactor(Codecs): Move examples test to `codecs` module
  Cargo.lock
  rust/Makefile
  rust/codecs/src/tests/examples.rs
  rust/codecs/src/tests/mod.rs
  rust/tests/Cargo.toml
  rust/tests/src/lib.rs
Due: none

fix(JATS): Support roundtrip conversion of `Heading` nodes
  docs/reference/formats/jats.md
  docs/reference/schema/prose/heading.md
  examples/heading/heading.compact.jats.xml
  examples/heading/heading.jats.xml
  examples/heading/heading.jats.xml.encode.losses
  examples/section/section.compact.jats.xml
  examples/section/section.jats.xml
  examples/section/section.jats.xml.encode.losses
  json/Heading.schema.json
  rust/codec-jats/src/decode/body.rs
  rust/codecs/src/tests/roundtrip.rs
  rust/schema/src/implem/heading.rs
  rust/schema/src/types/heading.rs
  schema/Heading.yaml
Due: none

chore(Examples): Remove redundant files
  examples/paragraph/paragraph.text
  examples/primitives/primitives.text
Due: none

chore(Heading): Linting
  rust/schema/src/implem/heading.rs
Due: none

refactor(Cord): Make tuple field private
  rust/codec-text-derive/src/lib.rs
  rust/schema/src/implem/code_block.rs
  rust/schema/src/implem/code_expression.rs
  rust/schema/src/implem/cord.rs
  rust/schema/src/implem/for.rs
  rust/schema/src/implem/if.rs
  rust/schema/src/implem/text.rs
  rust/schema/src/types/cord.rs
  rust/schema/tests/load_dump.rs
  rust/schema/tests/serde.rs
Due: text

refactor(Inline): Exclude string from `Inline` type and make `Text` default instead
  docs/reference/schema/prose/inline.md
  examples/list/list.compact.html
  examples/list/list.compact.json5
  examples/list/list.html
  examples/list/list.json
  examples/list/list.json5
  examples/list/list.standalone.html
  examples/list/list.yaml
  examples/table/table.compact.html
  examples/table/table.compact.json5
  examples/table/table.html
  examples/table/table.json
  examples/table/table.json5
  examples/table/table.standalone.html
  examples/table/table.yaml
  json/Inline.schema.json
  python/python/stencila/types/inline.py
  rust/codec-json/src/tests.rs
  rust/schema/src/implem/list_item.rs
  rust/schema/src/proptests.rs
  rust/schema/src/types/inline.rs
  schema/Inline.yaml
  typescript/src/types/Inline.ts
Due: json

refactor(Schema): Use `BlockOrInlines` for `caption` properties
  docs/reference/schema/code/code-chunk.md
  docs/reference/schema/works/figure.md
  docs/reference/schema/works/table.md
  json/CodeChunk.jsonld
  json/CodeChunk.schema.json
  json/Figure.jsonld
  json/Figure.schema.json
  json/Table.jsonld
  json/Table.schema.json
  python/python/stencila/types/__init__.py
  python/python/stencila/types/blocks_or_str.py
  python/python/stencila/types/code_chunk.py
  python/python/stencila/types/figure.py
  python/python/stencila/types/table.py
  rust/schema-gen/src/typescript.rs
  rust/schema/src/types/blocks_or_string.rs
  rust/schema/src/types/code_chunk.rs
  rust/schema/src/types/figure.rs
  rust/schema/src/types/table.rs
  schema/CodeChunk.yaml
  schema/Figure.yaml
  schema/Table.yaml
  typescript/src/types/BlocksOrString.ts
  typescript/src/types/CodeChunk.ts
  typescript/src/types/Figure.ts
  typescript/src/types/Table.ts
  typescript/src/types/index.ts
Due: none

test(Node store): Add roundtrip testing for examples
  Cargo.lock
  rust/node-store-derive/src/write.rs
  rust/node-store/Cargo.toml
  rust/node-store/src/lib.rs
  rust/node-store/tests/examples.rs
Due: none

test(Reorg): Move test to better location
  rust/node-store/tests/types.rs
Due: none

test(Codecs): Move tests out of `src`
  rust/Makefile
  rust/codecs/src/lib.rs
  rust/codecs/src/tests/mod.rs
  rust/codecs/tests/.gitignore
  rust/codecs/tests/accessibility.js
  rust/codecs/tests/examples.rs
  rust/codecs/tests/package-lock.json
  rust/codecs/tests/package.json
  rust/codecs/tests/proptests.rs
  rust/codecs/tests/snapshots/codecs__tests__specs__specs.snap
  rust/codecs/tests/specs.rs
Due: none

test(Property-based): Increase complexity of `Heading` and `Paragraph` under `max` level
  json/Heading.schema.json
  json/Paragraph.schema.json
  rust/schema/src/types/heading.rs
  rust/schema/src/types/paragraph.rs
  schema/Heading.yaml
  schema/Paragraph.yaml
Due: none

docs(Schema): Update generated docs
  docs/reference/schema/data/datatable.md
  docs/reference/schema/other/brand.md
  docs/reference/schema/other/organization.md
  docs/reference/schema/other/product.md
  docs/reference/schema/prose/heading.md
  docs/reference/schema/prose/paragraph.md
  docs/reference/schema/works/article.md
  docs/reference/schema/works/audio-object.md
  docs/reference/schema/works/claim.md
  docs/reference/schema/works/collection.md
  docs/reference/schema/works/comment.md
  docs/reference/schema/works/creative-work.md
  docs/reference/schema/works/directory.md
  docs/reference/schema/works/figure.md
  docs/reference/schema/works/file.md
  docs/reference/schema/works/image-object.md
  docs/reference/schema/works/media-object.md
  docs/reference/schema/works/periodical.md
  docs/reference/schema/works/publication-issue.md
  docs/reference/schema/works/publication-volume.md
  docs/reference/schema/works/review.md
  docs/reference/schema/works/software-application.md
  docs/reference/schema/works/software-source-code.md
  docs/reference/schema/works/table.md
  docs/reference/schema/works/video-object.md
Due: none

feat(Node store): Add `load_without_ids` function
  rust/node-store/Cargo.toml
  rust/node-store/src/lib.rs
  rust/node-store/tests/examples.rs
Due: none

fix(Inline content): Allow for loading of primitive inlines from store
  rust/node-store-derive/src/read.rs
  rust/schema-gen/src/rust.rs
  rust/schema/src/implem/inline.rs
  rust/schema/src/implem/mod.rs
  rust/schema/src/types/inline.rs
Due: none
