Repository stencila/stencila: changes, and which Codecov flags are due for each by the changed paths.
All: overall, format-html, format-jats, format-json, format-json5, format-markdown, format-text, format-yaml, sdk-node, sdk-python

codecov.yml:

flags:

  overall:
    paths:
      - '*'
      - '**/*'

  format-html:
    paths:
      - rust/codec-html*/src/*
  format-jats:
    paths:
      - rust/codec-jats*/src/*
  format-json:
    paths:
      - rust/codec-json/src/*
  format-json5:
    paths:
      - rust/codec-json5*/src/*
  format-markdown:
    paths:
      - rust/codec-markdown*/src/*
  format-text:
    paths:
      - rust/codec-text*/src/*
  format-yaml:
    paths:
      - rust/codec-yaml/src/*

  sdk-node:
    paths:
      - node/*
      - node/**/*
  sdk-python:
    paths:
      - python/*
      - python/**/*

fix(Markdown): Encode language of `IfClause` if present
  examples/if/if.compact.html
  examples/if/if.compact.jats.xml
  examples/if/if.compact.jats.xml.encode.losses
  examples/if/if.compact.json5
  examples/if/if.html
  examples/if/if.jats.xml
  examples/if/if.jats.xml.encode.losses
  examples/if/if.json
  examples/if/if.json5
  examples/if/if.md
  examples/if/if.standalone.html
  examples/if/if.txt
  examples/if/if.txt.encode.losses
  examples/if/if.yaml
  json/Block.schema.json
  json/If.schema.json
  json/IfClause.schema.json
  rust/codecs/tests/proptests.rs
  rust/schema/src/implem/if.rs
  rust/schema/src/types/block.rs
  rust/schema/src/types/if.rs
  rust/schema/src/types/if_clause.rs
  schema/Block.yaml
  schema/If.yaml
  schema/IfClause.yaml
Due: overall

fix(Markdown): Do not record other blocks as losses
  rust/codec-markdown/src/decode/content.rs
Due: overall

chore(*): Update generated files
  docs/reference/schema/code/code-chunk.md
  docs/reference/schema/code/code-expression.md
  docs/reference/schema/flow/call-argument.md
  docs/reference/schema/flow/call.md
  docs/reference/schema/flow/for.md
  docs/reference/schema/flow/if-clause.md
  docs/reference/schema/flow/if.md
  docs/reference/schema/flow/include.md
  docs/reference/schema/flow/parameter.md
  docs/reference/schema/prose/block.md
  docs/reference/schema/prose/delete.md
  docs/reference/schema/prose/emphasis.md
  docs/reference/schema/prose/inline.md
  docs/reference/schema/prose/insert.md
  docs/reference/schema/prose/link.md
  docs/reference/schema/prose/note.md
  docs/reference/schema/prose/quote.md
  docs/reference/schema/prose/strikeout.md
  docs/reference/schema/prose/strong.md
  docs/reference/schema/prose/subscript.md
  docs/reference/schema/prose/superscript.md
  docs/reference/schema/prose/underline.md
  docs/reference/schema/style/span.md
Due: overall

chore(*): Update benchmark data
  docs/develop/benchmarks/data.json
Due: overall

feat(Admonition): Add content type for warnings etc
  examples/admonition/admonition.compact.html
  examples/admonition/admonition.compact.jats.xml
  examples/admonition/admonition.compact.jats.xml.encode.losses
  examples/admonition/admonition.compact.json5
  examples/admonition/admonition.html
  examples/admonition/admonition.jats.xml
  examples/admonition/admonition.jats.xml.encode.losses
  examples/admonition/admonition.json
  examples/admonition/admonition.json5
  examples/admonition/admonition.md
  examples/admonition/admonition.standalone.html
  examples/admonition/admonition.txt
  examples/admonition/admonition.txt.encode.losses
  examples/admonition/admonition.yaml
  examples/article-ark/article-ark.compact.jats.xml
  examples/article-ark/article-ark.jats.xml
  examples/claim/claim.compact.jats.xml
  examples/claim/claim.jats.xml
  examples/section/section.compact.jats.xml
  examples/section/section.jats.xml
  rust/codec-jats/src/decode/body.rs
  rust/codec-jats/src/lib.rs
  rust/codec-markdown/src/decode/blocks.rs
  rust/codec-markdown/src/decode/content.rs
  rust/codec-markdown/src/lib.rs
  rust/codecs/benches/to_string.rs
  rust/schema/src/implem/admonition.rs
  rust/schema/src/implem/mod.rs
  rust/schema/src/implem/node.rs
  rust/schema/src/shortcuts.rs
  schema/Admonition.yaml
  schema/AdmonitionType.yaml
  schema/Block.yaml
  schema/Claim.yaml
  schema/Section.yaml
Due: overall, format-jats, format-markdown

chore(Python): Add `Admonition` to `from_value`
  python/python/stencila/utilities.py
Due: overall, sdk-python

refactor(Schema): Use all shortcuts
  rust/schema/src/prelude.rs
  schema/For.yaml
  schema/If.yaml
  schema/IfClause.yaml
  schema/Link.yaml
  schema/Mark.yaml
  schema/Note.yaml
  schema/Span.yaml
  schema/Suggestion.yaml
Due: overall

chore(Rust): Formatting
  rust/codec-markdown/src/decode/blocks.rs
  rust/codec-markdown/src/lib.rs
  rust/schema/src/implem/call.rs
Due: overall, format-markdown

test(Codecs): Update snapshot
  rust/codecs/tests/snapshots/specs__specs.snap
Due: overall

docs(README): Status updates
  README.md
Due: overall

chore(Codecs): Update supports and status
  rust/codec-jats/src/lib.rs
  rust/codec-markdown/src/lib.rs
Due: overall, format-jats, format-markdown

fix(Schema): Use correct `@id` for `Admonition.isFolded`
  schema/Admonition.yaml
Due: overall

docs(Schema): Do not generate empty testing section
  rust/schema-gen/src/docs_types.rs
Due: overall

fix(Rust): Upgrade `syn`
  Cargo.lock
  rust/common/Cargo.toml
Due: overall

test(Examples): Enable Markdown decoding for `list` example
  examples/list/config.yaml
Due: overall

fix(Markdown): Decoding of nested `Span`s
  examples/span-inlines/config.yaml
  examples/span-inlines/span-inlines.compact.html
  examples/span-inlines/span-inlines.compact.jats.xml
  examples/span-inlines/span-inlines.compact.json5
  examples/span-inlines/span-inlines.html
  examples/span-inlines/span-inlines.jats.xml
  examples/span-inlines/span-inlines.json
  examples/span-inlines/span-inlines.json5
  examples/span-inlines/span-inlines.md
  examples/span-inlines/span-inlines.standalone.html
  examples/span-inlines/span-inlines.txt
  examples/span-inlines/span-inlines.txt.encode.losses
  examples/span-inlines/span-inlines.yaml
  examples/span/config.yaml
  examples/span/span.compact.html
  examples/span/span.compact.jats.xml
  examples/span/span.compact.json5
  examples/span/span.html
  examples/span/span.jats.xml
  examples/span/span.json
  examples/span/span.json5
  examples/span/span.md
  examples/span/span.standalone.html
  examples/span/span.txt
  examples/span/span.txt.encode.losses
  examples/span/span.yaml
  rust/codec-markdown/src/decode/inlines.rs
Due: overall

refactor(Markdown): Put `styleLanguage` after `code` for `Span`
  examples/span/span.md
  rust/codec-markdown/src/decode/inlines.rs
  rust/schema/src/implem/span.rs
Due: overall

fix(Markdown): Decode empty `TableCell` as empty `content`
  examples/table/config.yaml
  examples/table/table.compact.html
  examples/table/table.compact.json5
  examples/table/table.html
  examples/table/table.json
  examples/table/table.json5
  examples/table/table.standalone.html
  examples/table/table.txt
  examples/table/table.yaml
  rust/codec-markdown/src/decode/content.rs
Due: overall

chore(README): Update status
  README.md
Due: overall

chore(Rust): Formatting
  rust/codec-markdown/src/lib.rs
Due: overall, format-markdown

fix(Markdown): Roundtrip for `Parameter`
  examples/parameter/config.yaml
  examples/parameter/parameter.md
  rust/codec-markdown/src/decode/inlines.rs
  rust/codec-markdown/src/decode/parse.rs
  rust/schema/src/implem/parameter.rs
Due: overall

chore(NPM): Update dev dependencies
  node/package.json
  package-lock.json
  typescript/package.json
Due: overall, sdk-node

chore(Rust): Formatting
  rust/codec-markdown/src/decode/inlines.rs
Due: overall

fix(Rust): Update dependencies
  Cargo.lock
  node/Cargo.toml
  rust/common/Cargo.toml
Due: overall, sdk-node

chore(Schema): Remove incorrect header comment
  rust/schema/src/types/unsigned_integer.rs
Due: overall

wip(Web): Initial re-implementation of Web components
  .gitignore
  Makefile
  package-lock.json
  web/.eslintrc.json
  web/.gitignore
  web/.parcelrc
  web/Makefile
  web/README.md
  web/package.json
  web/src/components/index.ts
  web/src/components/nodes/code-chunk.ts
  web/src/components/nodes/code-executable.ts
  web/src/components/nodes/code-expression.ts
  web/src/components/nodes/entity.ts
  web/src/components/nodes/executable.ts
  web/src/components/nodes/for.ts
  web/src/components/nodes/if-clause.ts
  web/src/components/nodes/if.ts
  web/src/components/nodes/include.ts
  web/src/components/nodes/index.ts
  web/src/index.css
  web/src/index.ts
  web/tsconfig.json
Due: overall

refactor(NPM): Move dev dependencies to root
  node/package.json
  package.json
  typescript/package.json
Due: overall, sdk-node

refactor(Web): Use single entry point
  web/package.json
  web/src/index.css
  web/src/index.ts
Due: overall

chore(Web): Add missing `customElement` declarations
  web/src/components/nodes/for.ts
  web/src/components/nodes/if-clause.ts
  web/src/components/nodes/if.ts
  web/src/components/nodes/include.ts
Due: overall

feat(Serve): Add `serve` command and serve assets from `web`
  Cargo.lock
  rust/Makefile
  rust/cli/Cargo.toml
  rust/cli/src/cli.rs
  rust/cli/src/lib.rs
  rust/cli/src/serve.rs
Due: overall

chore(Bump version): Update version of `web` module
  scripts/bump-version.sh
Due: overall

docs(Schema): Remove newlines from prop test descriptions
  rust/schema-gen/src/docs_types.rs
Due: overall
