Repository stencila/stencila: changes, and which Codecov flags are due for each by the changed paths.
All: overall, format-html, format-jats, format-json, format-json5, format-markdown, format-text, format-yaml, sdk-node, sdk-python

codecov.yml:

flags:

  overall:
    paths:
      - '*'
      - '**/*'

  format-html:
    paths:
      - rust/codec-html*/src/*
  format-jats:
    paths:
      - rust/codec-jats*/src/*
  format-json:
    paths:
      - rust/codec-json/src/*
  format-json5:
    paths:
      - rust/codec-json5*/src/*
  format-markdown:
    paths:
      - rust/codec-markdown*/src/*
  format-text:
    paths:
      - rust/codec-text*/src/*
  format-yaml:
    paths:
      - rust/codec-yaml/src/*

  sdk-node:
    paths:
      - node/*
      - node/**/*
  sdk-python:
    paths:
      - python/*
      - python/**/*

chore(Rust): Formatting
  rust/codec-markdown/src/decode/content.rs
Due: overall

test(Python): Use more secure `NamedTemporaryFile`
  python/python/tests/test_convert.py
Due: overall, sdk-python

test(Python): Add performance benchmarks
  python/.gitignore
  python/Makefile
  python/poetry.lock
  python/pyproject.toml
  python/python/tests/bench_convert.py
  python/python/tests/test_convert.py
Due: overall, sdk-python

test(Benchmarking): Separate `bench` recipe using `--release` flag
  python/.gitignore
  python/Makefile
Due: overall, sdk-python

test(Benchmarking): Add `bench` recipe for Node SDK
  node/.gitignore
  node/Makefile
  node/package.json
  node/src/bench.ts
  node/src/convert.bench.ts
  node/tsconfig-build.json
  package-lock.json
Due: overall, sdk-node

ci(Bench): Add workflow for benchmarking
  .github/workflows/bench.yml
  Makefile
Due: overall

ci(Bench): Setup Poetry
  .github/workflows/bench.yml
  .github/workflows/test.yml
Due: overall

chore(Python): Formatting
  python/python/tests/bench_convert.py
Due: overall, sdk-python

ci(Bench): Install dependencies
  .github/workflows/bench.yml
Due: overall

ci(Bench): Allow manual dispatch of workflow
  .github/workflows/bench.yml
Due: overall

refactor(Schema shortcuts): Rename and add more
  rust/codec-jats/src/decode/body.rs
  rust/codec-jats/src/tests.rs
  rust/codec-json/Cargo.toml
  rust/codec-json/tests/decode.rs
  rust/codec-json/tests/roundtrip.rs
  rust/codec-json5/src/tests.rs
  rust/codec-markdown/src/decode/content.rs
  rust/codec-markdown/src/decode/inlines.rs
  rust/codec-yaml/src/tests.rs
  rust/schema-gen/src/docs_codecs.rs
  rust/schema-gen/src/docs_types.rs
  rust/schema/src/implem/list_item.rs
  rust/schema/src/shortcuts.rs
Due: overall, format-jats, format-json5, format-yaml

ci(Bench): Do not use cache, use commit instead
  .github/workflows/bench.yml
Due: overall

ci(Bench): Do not fetch since already on branch
  .github/workflows/bench.yml
Due: overall

test(Examples): Add `article-empty`
  examples/article-empty/article-empty.compact.html
  examples/article-empty/article-empty.compact.jats.xml
  examples/article-empty/article-empty.compact.json5
  examples/article-empty/article-empty.html
  examples/article-empty/article-empty.jats.xml
  examples/article-empty/article-empty.json
  examples/article-empty/article-empty.json5
  examples/article-empty/article-empty.standalone.html
  examples/article-empty/article-empty.txt.encode.losses
  examples/article-empty/article-empty.yaml
Due: overall

chore(Shortcuts): Minor fixes
  rust/schema/src/shortcuts.rs
Due: overall

test(Benchmarking): Add benchmarks for Rust codecs
  Cargo.lock
  Makefile
  rust/.gitignore
  rust/Makefile
  rust/codecs/Cargo.toml
  rust/codecs/benches/from_str.rs
  rust/codecs/benches/to_string.rs
Due: overall

chore(Rust): Restrict which tests files are run
  rust/Makefile
Due: overall

fix(Markdown): Implement roundtrip for `CodeChunk`
  examples/code-chunk/code-chunk.compact.html
  examples/code-chunk/code-chunk.compact.jats.xml
  examples/code-chunk/code-chunk.compact.jats.xml.decode.losses
  examples/code-chunk/code-chunk.compact.jats.xml.encode.losses
  examples/code-chunk/code-chunk.compact.json5
  examples/code-chunk/code-chunk.html
  examples/code-chunk/code-chunk.jats.xml
  examples/code-chunk/code-chunk.jats.xml.encode.losses
  examples/code-chunk/code-chunk.json
  examples/code-chunk/code-chunk.json5
  examples/code-chunk/code-chunk.md
  examples/code-chunk/code-chunk.standalone.html
  examples/code-chunk/code-chunk.txt
  examples/code-chunk/code-chunk.txt.encode.losses
  examples/code-chunk/code-chunk.yaml
  examples/code-chunk/config.yaml
  json/CodeChunk.schema.json
  rust/codec-markdown/src/decode/content.rs
  rust/schema/src/implem/code_chunk.rs
  rust/schema/src/implem/mod.rs
  rust/schema/src/types/code_chunk.rs
  schema/CodeChunk.yaml
Due: overall

test(Codecs): Apply encoding stripping options
  rust/codecs/tests/examples.rs
Due: overall

fix(Markdown): Add newlines after `Include` node
  json/Include.schema.json
  rust/schema/src/implem/include.rs
  rust/schema/src/implem/mod.rs
  rust/schema/src/types/include.rs
  schema/Include.yaml
Due: overall

wip(Markdown): Enable decoding of simple `Delete` and `Insert` nodes
  examples/delete/config.yaml
  examples/insert/config.yaml
  rust/codec-markdown/src/decode/content.rs
Due: overall

fix(Markdown & JATS): FIxes for `MediaObject` types
  examples/media-objects/config.yaml
  examples/media-objects/media-objects.compact.html
  examples/media-objects/media-objects.compact.jats.xml
  examples/media-objects/media-objects.compact.json5
  examples/media-objects/media-objects.html
  examples/media-objects/media-objects.jats.xml
  examples/media-objects/media-objects.json
  examples/media-objects/media-objects.json5
  examples/media-objects/media-objects.standalone.html
  examples/media-objects/media-objects.txt.encode.losses
  examples/media-objects/media-objects.yaml
  rust/codec-jats/src/decode/body.rs
  rust/codec-markdown/src/decode/content.rs
  rust/format/src/lib.rs
  rust/schema/src/implem/media_objects.rs
Due: overall

fix(JATS): Add limited support to `Parameter` nodes
  examples/parameter/config.yaml
  examples/parameter/parameter.compact.jats.xml
  examples/parameter/parameter.compact.jats.xml.encode.losses
  examples/parameter/parameter.jats.xml
  examples/parameter/parameter.jats.xml.encode.losses
  json/CallArgument.schema.json
  json/Parameter.schema.json
  rust/codec-jats/src/decode/body.rs
  rust/schema/src/types/call_argument.rs
  rust/schema/src/types/parameter.rs
  schema/Parameter.yaml
Due: overall

test(Examples): Add `article-ark` example
  examples/article-ark/article-ark.compact.html
  examples/article-ark/article-ark.compact.jats.xml
  examples/article-ark/article-ark.compact.jats.xml.decode.losses
  examples/article-ark/article-ark.compact.jats.xml.encode.losses
  examples/article-ark/article-ark.compact.json5
  examples/article-ark/article-ark.html
  examples/article-ark/article-ark.jats.xml
  examples/article-ark/article-ark.jats.xml.encode.losses
  examples/article-ark/article-ark.json
  examples/article-ark/article-ark.json5
  examples/article-ark/article-ark.md
  examples/article-ark/article-ark.standalone.html
  examples/article-ark/article-ark.txt
  examples/article-ark/article-ark.txt.encode.losses
  examples/article-ark/article-ark.yaml
  examples/article-ark/config.yaml
Due: overall

ci(Benchmarks): Use custom benchmark collation script
  .github/workflows/bench.yml
  Makefile
  docs/develop/benchmarks/Makefile
  docs/develop/benchmarks/data.json
  docs/develop/benchmarks/main.py
Due: overall

test(Python): Reduce minimum number of samples to 100
  python/python/tests/bench_convert.py
Due: overall, sdk-python

chore(*): Update benchmark data
  docs/develop/benchmarks/data.json
Due: overall

docs(Benchmarks): Add page for displaying results
  docs/develop/benchmarks/data.json
  docs/develop/benchmarks/index.html
  docs/develop/benchmarks/main.py
Due: overall

ci(Bench): Add docs folder to pages and trigger when benchmarks complete
  .github/workflows/bench.yml
  .github/workflows/pages.yml
Due: overall

ci(Pages): Add options when `tar`ing
  .github/workflows/pages.yml
Due: overall

ci(Pages): Try cding into docs
  .github/workflows/pages.yml
Due: overall

docs(README): Add note about continuous benchmarking
  README.md
  docs/develop/benchmarks/index.html
Due: overall

ci(Test): Pull repository before committing changes
  .github/workflows/bench.yml
  .github/workflows/test.yml
Due: overall

fix(Rust): Upgrade `indexmap`
  Cargo.lock
  rust/common/Cargo.toml
Due: overall

chore(Node SDK): Upgrade `napi-rs-cli`
  node/package.json
  package-lock.json
Due: overall, sdk-node

chore(*): Update generated files
  docs/reference/formats/jats.md
  docs/reference/formats/markdown.md
  docs/reference/schema/code/code-chunk.md
  docs/reference/schema/flow/include.md
  docs/reference/schema/flow/parameter.md
Due: overall

ci(Test & bench): Only pull `main` branch
  .github/workflows/bench.yml
  .github/workflows/test.yml
Due: overall

chore(Benchmarks): Fix ops/sec calcs for Rust and allow for re-parsing
  docs/develop/benchmarks/Makefile
  docs/develop/benchmarks/data.json
  docs/develop/benchmarks/update.py
Due: overall

ci(Bench): Add perms and token needed to trigger `pages.yml`
  .github/workflows/bench.yml
Due: overall
